<div class="flex-layout">
	<div class="menu" ng-show="menuShow">
		<div ng-repeat="category in categories">
			<h6 class="category-name">{{category.name}}</h6>
			<div class="menu-row">
				<div ng-repeat="item in items | itemsByCategory:category._id" class="menu-item" ng-click="setNewItemInCart(item)" ui-sref-active="active" ng-class="{ selected: item.selected }">
					<h4 class="text-center text-nowrap">{{ item.name }}</h4>
					<h6 class="text-center">{{ item.abbr }} | {{ item.price | currency }}</h6>
				</div>
			</div>
		</div>
	</div>
	<div ui-view class="aside" autoscroll="false">
	</div>
</div>

